body {
  font-family: Tahoma, sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

input[type='text'],
input[type='number'] {
  font-size: 1.2rem;
  padding: 0.4em;
  width: 300px;
  border-radius: 10px;
  border: none;
}

button {
  font-size: 1rem;
  width: max-content;
  border: none;
  padding: 0.5em 1em;
  border-radius: 15px;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container {
  padding: 1em;
}

.new-book {
  align-self: center;
}

table {
  background-color: #767da8;
  border-radius: 3px;
}

th {
  text-align: start;
  background-color: #f5efdc;
  padding: 0.7em;
}

td {
  background-color: #f5efdc;
  padding: 0.7em;
  min-width: 100px;
  word-break: break-all;
}

td > button {
  width: 100%;
}

.status-btn {
  background-color: #DEC678;
  color: #52410a;
}

.green-btn {
  background-color: #479e5d;
  color: #d4ecd9;
}

.red-btn {
  background-color: #ee5255;
  color: #f8d4d5;
}

.btn-th {
  width: 100px;
}

.input-container {
  gap: 0.7rem;
}

.form-btn-container {
  flex-direction: row;
  justify-content: space-between;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #767da8;
  padding: 2em;
  border-radius: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: hsl(0, 0%, 0%);
  z-index: 1;
  opacity: 0.2;
}

.hidden {
  display: none;
}
